// +----------------------------------------------------+
// | CALCULATE THINGS                                   |
// +----------------------------------------------------+

pg_column_width = (100%/pg_columns)
_height_hack = 9999px
_precision = 3

pg_col_list = null
for size, threshold in pg_thresholds
  for i in (1..pg_columns)
    _x = '.col-' + size + '-' + i
    if pg_col_list == null
      pg_col_list = _x
    else
      push(pg_col_list, _x)

pg_col_class = join(',', pg_col_list)

// +----------------------------------------------------+
// | CONTAINERS                                         |
// +----------------------------------------------------+

.container
  clearfix()
  max-width pg_container_width
  margin-left auto
  margin-right auto

.row
  clearfix()
  &.equal
    overflow hidden
    width 100%

// +----------------------------------------------------+
// | COLUMNS                                            |
// +----------------------------------------------------+

create-columns(size)
  cols = ''
  for i in (1..pg_columns)
    cols = cols + '.col-' + size + '-' + i + ','
    .col-{size}-{i}
      width round(pg_column_width*i, _precision)
    .col-{size}-offset-{i}
      margin-left round(pg_column_width*i, _precision)
    .col-{size}-push-{i}
      left round(pg_column_width*i, _precision)
    .col-{size}-pull-{i}
      right round(pg_column_width*i, _precision)
  {cols}
    float left

no-gutter()
  padding 0!important
  .row.equal &
      padding-bottom _height_hack!important
      margin-bottom (-1 * _height_hack)!important

// Mobile first
{pg_col_class}
  position relative
  box-sizing border-box
  padding pg_gutter
  content foo

// Equal height divs

.row.equal
  {pg_col_class}
    padding-bottom _height_hack!important
    margin-bottom (-1 * _height_hack + pg_gutter)

create-columns('xs')
.no-gutter, .no-gutter-xs
  no-gutter()

// Responsive layouts

for name, threshold in pg_thresholds
  if threshold > 0
    @media screen and (min-width: threshold)
      create-columns(name)
      .no-gutter-{name}
        no-gutter()
